:root {
    /* Backgrounds */
  --bg-primary: #101a32;
  --bg-secondary-start: #132445;
  --bg-secondary-end: #261d35;
  --bg-card-start: #13213f;
  --bg-card-end: #201d35;

  /* Text */
  --primary-text: #ffffff;
  --secondary-text: #c6c6ca;
  --card-logo-color: #1c7fd7;
  --testimonial-name: #772f43;
  --tools-text: #153c6d;
  --testimonial-star: #d87525;

  /* Button */
  --live-demo-button: #339af4;
  --collaborate-button: #153e69;

  /* Gradient */
  --gradient-main: linear-gradient(90deg, #3c85ec, #e42f4a);
  --gradient-hire: linear-gradient(90deg, #1e3a61, #631722);
  --gradient-border-bottom: linear-gradient(90deg, #d25063, #3e83e1);
  --gradient-card-bg: linear-gradient(135deg, #132445, #391f35);
  --gradient-secondary-bg: linear-gradient(135deg, #132445, #261d35);
  
  /* Font family */
  --font-main: "Poppins", sans-serif;

  /* Length */
  --container-max-width: 1200px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
    background-color: var(--bg-primary);
    color: var(--primary-text);
    padding-top: 60px;
}

h1 {
    margin-bottom: 20px;
    font-size: 48px;
}

h2 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 20px;
}

#navbar {
    background: var(--gradient-secondary-bg);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 10px;
    border-bottom: 2px solid var(--gradient-border-bottom);
}

#navbar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--gradient-border-bottom);
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.logo {
    font-weight: bold;
    font-size: 26px;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: var(--primary-text);
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: var(--card-logo-color);
}

.hire-btn {
    padding: 8px 30px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    background: 
    var(--gradient-hire) padding-box,
    var(--gradient-main) border-box;
    color: var(--primary-text);
    text-decoration: none;
    font-family: var(--font-main);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.hire-btn:hover {
    background: 
    var(--gradient-main) padding-box,
    var(--gradient-main) border-box; 
}

.menu-toggle {
    display: none;
}

.name {
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hero {
    padding: 60px;
    padding-bottom: 120px;
}

.hero-content p {
    color: var(--secondary-text);
    margin-bottom: 20px;
}

.btn-primary {
    padding: 10px 24px;
    background: var(--gradient-main);
    color: var(--primary-text);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    margin-right: 8px;
}

.btn-outline {
    padding: 8px 24px;
    color: var(--card-logo-color);
    text-decoration: none;
    font-weight: 500;
    border: 1.5px solid var(--card-logo-color);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: all 0.3s ease;
}

.btn-outline:hover {
    background-color: rgba(28, 127, 215, 0.1);
}

.btn-outline .arrow {
    font-size: 0.85em;
    display: inline-block;
    transform: scale(0.9);
}

.hero-image {
    position: relative;
    width: 300px;
    height: 300px;
    margin-top: 60px;
}

.image-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.glow {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--gradient-main);
    filter: blur(60px);
    opacity: 0.5;
    z-index: 0;
}

.profile-img-wrapper {
    position: relative;
    z-index: 2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #000;
}

.profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.orbit {
    position: absolute;
    width: 370px;
    height: 370px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.orbit .tech-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 44px;
    height: 44px;
    margin: -22px;
    font-size: 20px;
    color: var(--card-logo-color);
    background-color: #1e3a61;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(calc(var(--i) * 60deg)) translateY(-185px) rotate(calc(var(--i) * -60deg));
}

#about {
    padding: 70px;
    background: var(--gradient-secondary-bg);
}

#about .container {
    gap: 80px;
}

.about-content {
    flex: 1;
}

.about-content p{
    color: var(--secondary-text);
}

.about-section-img {
    height: 500px;
    overflow: hidden;
    background-color: #000;
    border-radius: 10px;
    flex: 1;
}

.about-section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
}

.about-content p {
    margin-bottom: 16px;
}

.download-resume {
    padding: 10px 24px;
    background: var(--gradient-main);
    color: var(--primary-text);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    margin-top: 8px;
}

.download-icon {
    margin-left: 8px;
}

#skills {
    padding: 60px;
}

#skills .container {
    flex-direction: column;
    align-items: center;
}

.skills-content {
    text-align: center;
    width: 500px;
    margin-bottom: 15px;
}

.skills-content p {
    color: var(--secondary-text);
}

.skills-content h2 {
    margin-bottom: 10px;
}

.skills-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
}

.card {
    width: 100%;
    height: auto;
    min-height: 250px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: 
    var(--gradient-secondary-bg) padding-box,
    var(--gradient-main) border-box;
    text-align: center;
}

.card h3 {
    padding: 8px;
    font-weight: 500;
}

.card p {
    color: var(--secondary-text);
}

.card-icon {
    color: var(--card-logo-color);
    font-size: 50px;
}

#services {
    padding: 60px;
    background: var(--gradient-secondary-bg);
}

#services .container {
    flex-direction: column;
    align-items: center;
}

.services-content {
    text-align: center;
    width: 500px;
    margin-bottom: 15px;
}

.services-content h2 {
    margin-bottom: 10px;
}

.services-content p {
    color: var(--secondary-text);
}

.services-card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
}

.services-card {
    width: 100%;
    height: auto;
    min-height: 250px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    background: 
    var(--gradient-secondary-bg) padding-box,
    var(--gradient-main) border-box;
    text-align: center;
}

.services-card h3 {
    padding: 8px;
    font-weight: 500;
}

.services-card p {
    color: var(--secondary-text);
}

.services-card-icon {
    color: var(--card-logo-color);
    font-size: 50px;
    display: block;
}

#projects {
    padding: 60px;
}

#projects .container {
    flex-direction: column;
    align-items: center;
}

.projects-header {
    text-align: center;
    width: 500px;
    margin-bottom: 15px;
}

.projects-header p {
    color: var(--secondary-text);
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.projects-previews {
    width: 100%;
    height: auto;
    min-height: 200px;
}

.carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--primary-text);
    background: var(--gradient-main);
    border: none;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;

    
}

.prev {
    margin-left: 40px;
}

.next {
    margin-right: 40px;
}

.projects-carousel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    max-width: 1000px;
    flex: 1;
}

.project-card {
    width: 100%;
    height: auto;
    min-height: 250px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid transparent;
    background:
    linear-gradient(var(--bg-primary), var(--bg-primary)) padding-box,
    var(--gradient-main) border-box;
    text-align: left;
    transition: opacity 0.3s ease;
}

.project-card h3 {
    padding-bottom: 10px;
    padding-top: 6px;
    font-weight: 500;
}

.project-card p {
    color: var(--secondary-text);
    margin-bottom: 14px;
}

.project-card.active {
    display: block;
}

.tech-tag {
    background-color: #132445;
    border: none;
    padding: 8px 14px;
    color: var(--card-logo-color);
    border-radius: 20px;
    font-size: 12px;
    margin-right: 5px;
}

.project-btn {
    display: flex;
    gap: 18px;
    margin-top: 24px;
}

.project-btn a {
    text-decoration: none;
}

.btn-github {
    padding: 10px 24px;
    background: var(--gradient-main);
    color: var(--primary-text);
    border-radius: 30px;
}

.btn-live {
    padding: 10px 24px;
    background: var(--card-logo-color);
    color: var(--primary-text);
    border-radius: 30px;
}

#contact {
    padding: 60px;
    background: var(--gradient-secondary-bg);
}

#contact .container {
    flex-direction: column;
    align-items: center;
}

.contact-header {
    text-align: center;
    width: 500px;
    margin-bottom: 15px;
}

.contact-header p {
    color: var(--secondary-text);
}

.contact-body {
    display: flex;
    justify-content: space-between;
    gap: 250px;
}

.contact-info h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 14px;
    margin-top: 30px;
}

.contact-info p {
    font-size: 12px;
    color: var(--secondary-text);
    max-width: 280px;
    padding-bottom: 18px;
}

.contact-info span {
    margin-left: 21px;
}

.contact-icon {
    margin-right: 6px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 18px;
    border: 1px solid transparent;
    background: 
    var(--gradient-card-bg) padding-box,
    var(--gradient-main) border-box;
}

.info input {
    background: none;
    padding: 16px 18px;
    margin-top: 6px;
    border-radius: 30px;
    border: 1px solid transparent;
    background: 
    var(--gradient-card-bg) padding-box,
    var(--gradient-main) border-box;
    color: #ffffff;
}

.info input::placeholder {
    color: var(--secondary-text);
}

.info input:focus,
.info textarea:focus {
    outline: none;
    border: 1px solid transparent;
    background: 
    var(--gradient-secondary-bg) padding-box,
    var(--gradient-main) border-box;
    box-shadow: 0 0 0 3px rgba(60, 133, 236, 0.3);
}

.message-field,
form button {
    grid-column: 1 / -1;
}

form textarea {
    border: 1px solid transparent;
    border-radius: 14px;
    background: 
    var(--gradient-card-bg) padding-box,
    var(--gradient-main) border-box;
    margin-top: 6px;
    width: 100%;
    min-height: 120px;
    padding: 16px 18px;
    color: #ffffff;
    resize: none;
    box-sizing: border-box;
}

form textarea::placeholder {
    color: var(--secondary-text);
}

form button {
    display: block;
    padding: 10px 24px;
    background: var(--gradient-main);
    color: var(--primary-text);
    border-radius: 30px;
    border: none;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 48px;
    margin-top: 20px;
}

.footer-logo {
    font-weight: bold;
    font-size: 18px;
    background: var(--gradient-main);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.footer-nav ul {
    display: flex;
    gap: 36px;
    list-style: none;
}

.footer-nav a {
    text-decoration: none;
    color: var(--secondary-text);
    font-size: 12px;
}

.footer-socials {
    display: flex;
    gap: 24px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);
    background: var(--card-logo-color);
    padding: 10px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.footer-divider {
    border: none;
    height: 1px;
    background: var(--gradient-border-bottom);
    margin: 0 48px;
}

.footer-bottom {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--secondary-text);
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 0.3s ease;
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    /* NAVBAR */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
        z-index: 1100;
    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background: var(--primary-text);
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--gradient-secondary-bg);
        padding: 20px;
        gap: 16px;
        z-index: 1000;
    }

    .nav-links.open{
        display: flex;
    }

    .hire-btn {
        display: none;
    }

    #navbar .container {
        flex-wrap: wrap;
        padding: 8px 16px;
    }

    /* HERO */

    .hero {
        padding: 30px 20px 100px;
    }

    .hero .container {
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .hero-image {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 70px;
        margin-bottom: 30px;
    }

    /* ABOUT */

    #about {
        padding: 30px 20px;
    }

    #about .container {
        flex-direction: column;
        gap: 30px;
    }

    .about-section-img {
        width: 100%;
        height: auto;
    }

    .about-section-img img {
        width: 100%;
        height: auto;
    }

    /* SKILLS */
    #skills{
        padding: 40px 20px;
    }

    .skills-content {
        width: 100%;
    }

    .skills-card-content {
        grid-template-columns: 1fr;
    }

    /* SERVICES */
    #services {
        padding: 40px 20px;
    }

    .services-content {
        width: 100%;
    }

    .services-card-content {
        grid-template-columns: 1fr;
    }

    /* PROJECTS */

    #projects {
        padding: 40px 0;
    }

    .projects-header {
        width: 100%;
        max-width: 100%;
        padding: 0 16px;
    }

    .carousel-wrapper {
        width: 100%;
        gap: 10px;
        padding: 0 4px;
    }

    .projects-carousel {
        grid-template-columns: 1fr;
        max-width: 100%;
    }

    .project-card {
        margin-top: 10px;
        padding: 16px;
    }

    .project-card .tech-tag {
        margin-bottom: 10px;
    }

    .project-btn {
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 18px;

    }

    .btn-github,
    .btn-live {
        padding: 8px 18px;
        font-size: 14px;
        text-align: center;
        flex: 1;
        min-width: 120px;
    }

    .prev { margin-left: 4px; }
    .next { margin-right: 4px; }

    /* CONTACT */
    #contact {
        padding: 40px 20px;
    }

    .contact-header {
        width: 100%;
    }

    .contact-body {
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .contact-info p {
        max-width: 100%;
    }

    .contact-form-wrapper {
        width: 100%;
    }

    form {
        grid-template-columns: 1fr;
        max-width: 100%;
        width: 100%;
    }

    .info input {
        width: 100%;
    }

    footer {
        padding: 10px 5px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        margin-top: 10px;
    }

    .footer-nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .footer-socials {
        gap: 12px;
        margin-top: 10px;
    }

    .socials {
        padding: 8px;
        width: 25px;
        height: 25px;
    }
}